
<%= form_tag("/create_user_session") do %>
  <div class="form-field">
    <%= label_tag :email %><br />
    <%= email_field_tag :email %>
  </div>

  <div class="form-field">
    <%= label_tag :senha %><br />
    <%= password_field_tag :senha %>
  </div>

  <div class="form-field">
    <%= submit_tag 'Enviar' %>
  </div>
<% end %>
